In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Erensu Akdogan\Downloads\marketing_customer_analysis_clean (3).csv")

In [6]:
numerical = df.select_dtypes(include = 'number')
numerical.drop(columns=['total_claim_amount'], inplace=True)

In [7]:
numerical

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month
0,0,4809.216960,48029,61,7.000000,52,0.000000,9,2
1,1,2228.525238,0,64,3.000000,26,0.000000,1,1
2,2,14947.917300,22139,100,34.000000,31,0.000000,2,2
3,3,22332.439460,49078,97,10.000000,3,0.000000,2,1
4,4,9025.067525,23675,117,15.149071,31,0.384256,7,1
...,...,...,...,...,...,...,...,...,...
10905,10905,15563.369440,0,253,15.149071,40,0.384256,7,1
10906,10906,5259.444853,61146,65,7.000000,68,0.000000,6,1
10907,10907,23893.304100,39837,201,11.000000,63,0.000000,2,2
10908,10908,11971.977650,64195,158,0.000000,27,4.000000,6,2
10909,10909,6857.519928,0,101,31.000000,1,0.000000,3,1

In [8]:
#drop nas\duplicates
df=df.dropna()
df=df.drop_duplicates()

In [9]:
# X-Y Split:
X=numerical
y=df[['total_claim_amount']]

In [10]:
#Train-test split:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42)

In [11]:
#Standardize the data (after the data split!).
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler = MinMaxScaler()
scaled_X_train = scaler.fit_transform(X_train)

In [12]:
#Apply linear regression.
from sklearn.linear_model import LinearRegression
lm = LinearRegression() # fit_intercept = True
model = lm.fit(X_train , y_train)
model.coef_

array([[ 5.51923191e-04, -6.21698962e-04, -3.29327123e-03,
         5.39064866e+00,  1.77468285e-01, -1.79264731e-01,
        -4.93935428e-01,  2.91981136e-01, -1.84174558e+00]])

In [13]:
y_pred = model.predict(X_test)
y_pred = pd.DataFrame(y_pred)
y_test = y_test.reset_index(drop=True)
residuals_df=pd.concat([y_test, y_pred], axis = 1)

residuals_df=residuals_df.rename(columns={"total_claim_amount" : "y_test", 0 : "y_pred"})
residuals_df

          y_test      y_pred
0     475.423848  122.658353
1     350.400000  350.524852
2     482.400000  415.505553
3     673.342650  433.532813
4     302.400000  154.757902
...          ...         ...
2723  460.266881  589.556165
2724  405.883346  305.557792
2725   41.182611  202.640217
2726  364.800000  452.072707
2727   89.411365  190.221831

[2728 rows x 2 columns]

In [14]:
from sklearn.metrics import mean_squared_error as mse , mean_absolute_error as mae

In [15]:
mse(y_test,y_pred)

40504.74987548372

In [16]:
mae(y_test,y_pred)

146.03572323631195

In [18]:
rmse = mse(y_test,y_pred, squared = False)
rmse

201.25791878950682